<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %><br>
      <%= f.email_field :email, class: 'form-control' %><br>

      <%= f.label :password %><br>
      <%= f.password_field :password, class: 'form-control' %><br>

      <%= f.submit "Log in", class: "btn btn-primary" %><br>
    <% end %>

    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '997422430334089',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

    <p>New user? <%= link_to "Sign up now!" %></p>
  </div>
</div>
