

<p id="notice"><%= notice %></p>

<% provide(:title, @bar.name) %>
<h1>

  <%= @bar.name %>
</h1>

  <%= @bar.address %>
  <%= @bar.email %>
  <%= @bar.hours %>
  <%= @bar.twitter %>
  <ul>
  <%@tweets.each do |tweet|%>
    <li>  
      <img src="<%=tweet.user.profile_image_url%>">
      <%= tweet.text %>
    </li>
    
    <%end%>
    </ul>

  
  
<% if current_bar %>  
  <%= link_to 'Edit', edit_bar_path(@bar) %> |
<% end %>

<%= link_to 'Back', bars_path %>
