<p id="notice"><%= notice %></p>

<<<<<<< HEAD
=======
<% provide(:title, @user.name) %>
<h1>
  <%= @user.name %> 's Profile
</h1>
<% if logged_in? %>
<%=link_to 'Logout' %>
<% end %>

>>>>>>> 3c544b1fd476356a0d6d02163e27c7bda8e77115
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
